---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del proyecto">
  <h1>Acerca de el proyecto</h1>

  <p>El proyecto de los lanzamientos de SpaceX es una demo de Astro</p>
</Layout>
